body{
    background-image: url(image/background2.gif);
    margin: 20px 10px;
    width: 100%;
}
h2 ,h3 {
    margin: 20px 20px 0px 20px;
}
hr.h2 {
    width: fit-content;
    size: 4023px;
    color: blue;
}
.logo {
    width: 200px;
}
.wc {
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}
.btn {
    border-radius: 8px;
    background-image: linear-gradient(to bottom right, rgb(240, 46, 12), rgb(232, 0, 240));
    margin: 5px;
    padding: 5px;
    color: white;
    
    
}
.flex {
    display: flex;
}
section {
    border-radius: 30px 0px;
    margin: 20px 10px;
    background-image: url(image/background.png);
    
    background-size: contain;
    padding: 5px 5px 10px 5px ;
    
}
section:hover {
    border-radius: 0px 30px;
    background-image: linear-gradient(to left,blue);
    color: rgb(12, 0, 63);
}
.about {
    font-family: 'Coming Soon', cursive;
    text-align: justify;
    margin: 0px 10px;
    font-size: larger;
 
}

a {
    display: inline;
    width: fit-content;
    text-decoration: blue;
}
a:hover {
    border: rgb(225, 0, 255) solid;
}
.profile1 {
    background-image: url(image/Photo_1641236226882.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    float: right;
    margin-right: 5px;
    background-position: right;
}

.profile2 {
    background-image: url(image/Photo_1641236337120.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    float: right;
    margin-left: 5px;
}
.exp1 {
    width: 45%;
    margin: 10px 15px 10px 10%;
    padding: ;
    background-image: url(image/background.png);
    background-size: contain;
    border-radius: 30px 0px;
}
.exp2 {
    width: 45%;
    margin: 10px 10% 10px 10px;
    padding: ;
    background-image: url(image/background.png);
    background-size: contain;
    border-radius: 30px 0px;
}
.flw {
    display: inline;
}
.fb{
    background-image: url(image/facebook.png);
}